
/**
 * @file
 * Styles for individual pages.
 *
 * Created by: Aram Boyajyan
 * https://www.aram.cz/
 */


/*******************************************************************************
 * Home page.
 ******************************************************************************/
#page.occupation-open {
  .filter-resource {
    opacity: 0.3;
  }
  .filter-occupation {
    opacity: 1;
  }
  .resource-tile {
    @extend %visuallyHidden;
  }
}
#page.resource-open {
  .filter-resource {
    opacity: 1;
  }
  .filter-occupation {
    opacity: 0.3;
  }
  .occupation-tile {
    @extend %visuallyHidden;
  }
}
/* Home page end. */

