
/**
 * @file
 * Variables.
 * 
 * Created by: Aram Boyajyan
 * https://www.aram.cz/
 */

// Typography.
$font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-size: 18px;

// Breakpoints.
$breakpoint-mobile: 480px;
$breakpoint-tablet: 767px;
$breakpoint-medium: 960px;
$breakpoint-large: 1300px;

// Layout widths.
$layout-width-mobile: 100%;
$layout-width-tablet-small: 480px;
$layout-width-tablet-medium: 720px;
$layout-width-desktop-medium: 960px;
$layout-width-desktop-large: 1280px;

// Colors.
$color-white: #FFF;
$color-primary-text: #4a4a4a;
$color-blue: #0033A0;
$color-light-blue: #f8f9fa;
$color-secondary-text: #111;
$color-red: #D90012;
$color-gray: #999;

// Misc.
$border-radius: 2px;
